/*===================================================================

Overwrite foundation

===================================================================*/

.row {
    max-width: 100%;
}

/*===================================================================

Custom Styling

===================================================================*/
body{
    padding: 20px;
}

#header {
    height: calc(100vh - 40px);
    width: 100%;
    background: url(../images/mt-kenya.jpg);
    background-position: center;
    background-size: 100% auto;
    position: relative;
}

#header .overlay {
    background: rgba(0,0,0,0.4);
    height: 100%;
    width: 100%;
    position: absolute;
}